/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

.profession {
    font-size: 1.5rem;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.about, .projects, .contact {
    padding: 50px 0;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

.project-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: left;
}

.project-card h3 {
    margin-top: 0;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
